html {
	overflow: scroll;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

:root {
	--background: white;
	--clear-background: rgba(0, 0, 0, 0.85);
	--line: #dddddd;
	--border: #cecece;
	--text: #212121;
	--light-text: white;
	--grey-text: #888888;
	--user-location: dodgerblue;
	--user-location-border: white;
	--primary: #e44a4a;
	--primary-hover: #d63a3a;
	--secondary: #f5ae14;
	--secondary-hover: #eb9f11;
	--store-listing-header: #fcfcfc;
	--shadow: rgba(214, 214, 214, 0.85);
}

/* Containers */

.App {
	display: flex;
	flex-direction: column;
}

.Container__large-screen-optimize {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.Container__header {
	position: fixed;
	top: 0px;
	display: flex;
	width: 100%;
	height: 60px;
	flex-direction: column;
	justify-content: center;
	z-index: 2px;
	background-color: var(--background);
	border-color: var(--line);
	border-width: 1px;
	border-style: solid;
}

.Container__footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: var(--background);
	border-color: var(--line);
	border-width: 1px;
	border-style: solid;
}

.Container__after-header {
	padding-top: 60px;
	width: 100%;
}

.Container__column {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.Container__row {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.Container__padding-10px {
	padding: 10px;
}

.Container__horizontal-padding-20px {
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.Container__center--horizontal {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Container__category-selector {
	width: 65%;
	padding-left: 10px;
	padding-right: 5px;
	margin: 5px;
}

.Container__range-selector {
	width: 35%;
	padding-left: 5px;
	padding-right: 10px;
	margin: 5px;
}

.Container__promo-overlay {
	width: 200px;
	background-color: var(--background);
	border-color: var(--border);
	border-width: 0.5px;
	border-style: solid;
	border-radius: 10px;
	box-shadow: 1px 1px var(--shadow);
}

.Container__darken-background {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background-color: var(--clear-background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.Container__popup {
	width: 80%;
	max-width: 800px;
	height: 70%;
	opacity: 1;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: white;
	overflow: scroll;
}

.Container__banner--primary {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(
		0deg,
		var(--primary) 0%,
		var(--primary-hover) 100%
	);
}

.Container__banner--secondary {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(
		0deg,
		var(--secondary) 0%,
		var(--secondary-hover) 100%
	);
}

.Container__home-store-listing {
	border-radius: 10px;
	border-width: 0.5px;
	border-style: solid;
	border-color: var(--border);
	box-shadow: 1px 1px var(--shadow);
}

.Container__home-store-header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: var(--store-listing-header);
}

.Container__range-text {
	width: 100px;
	display: flex;
	justify-content: flex-end;
}

/* Toggles */

.Toggle__small {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	border-width: 0.5px;
	border-style: solid;
	border-color: var(--border);
	text-decoration: none;
	box-shadow: 1px 1px var(--shadow);
}

.Toggle__small:hover {
	background-color: var(--line);
}

.Toggle__large--hollow {
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: var(--border);
	border-radius: 22.5px;
	border-width: 0.5px;
	border-style: solid;
	box-shadow: 1px 1px var(--shadow);
}

.Toggle__large--hollow:hover {
	background-color: var(--line);
}

.Toggle__large--primary {
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	border-radius: 22.5px;
	border-width: 0.5px;
	border-style: solid;
	border-color: var(--border);
	box-shadow: 1px 1px var(--shadow);
}

.Toggle__large--primary:hover {
	background-color: var(--primary-hover);
}

.Toggle__large--secondary {
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
	border-radius: 22.5px;
	border-width: 0.5px;
	border-style: solid;
	border-color: var(--border);
	box-shadow: 1px 1px var(--shadow);
}

.Toggle__large--secondary:hover {
	background-color: var(--secondary-hover);
}

.Toggle__header {
	width: 40px;
	height: 40px;
}

.Toggle__search {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Toggle__promo-image-input {
	position: absolute;
	top: 60px;
	width: 100%;
	min-height: 200px;
	max-height: 400px;
	aspect-ratio: 16/9;
	opacity: 0;
}

.Toggle__profile-image-input {
	position: absolute;
	top: 110px;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	opacity: 0;
}

.Fab {
	position: fixed;
	bottom: 80px;
	right: 20px;
}

/* Images */

.Image__logo--small {
	width: 144px;
	height: 36px;
}

.Image__promo-overlay {
	width: 100%;
	height: 112.5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: black;
}

.Image__promo {
	width: 100%;
	min-height: 200px;
	max-height: 400px;
	aspect-ratio: 16/9;
	background-color: black;
	object-fit: cover;
}

/* Text */

.Text__small--dark {
	color: var(--text);
	font-size: 12px;
	overflow: hidden;
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

.Text__medium--dark {
	color: var(--text);
	font-size: 16px;
	overflow: hidden;
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

.Text__medium--light {
	color: var(--light-text);
	font-size: 16px;
	overflow: hidden;
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

.Text__medium--dark-multiline {
	color: var(--text);
	font-size: 16px;
	overflow: hidden;
	margin: 0px;
}

.Text__medium--grey-multiline {
	color: var(--grey-text);
	font-size: 16px;
	overflow: hidden;
	margin: 0px;
}

.Text__medium--dark-multiline-bold {
	color: var(--text);
	font-size: 16px;
	overflow: hidden;
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	font-weight: 700;
}

.Text__large--dark {
	color: var(--text);
	font-size: 20px;
	overflow: hidden;
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

.Text__large--dark-multiline {
	color: var(--text);
	font-size: 20px;
	overflow: hidden;
	margin: 0px;
}

.Text__extra-large--dark-multiline {
	color: var(--text);
	font-size: 40px;
	overflow: hidden;
	margin: 0px;
}

.Text__extra-large--light-multiline {
	color: var(--light-text);
	font-size: 40px;
	overflow: hidden;
	margin: 0px;
}

.Text__overlay-description {
	color: var(--text);
	font-size: 12px;
	overflow: hidden;
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}

.Text__arrow {
	color: var(--grey-text);
	font-size: 16px;
	overflow: hidden;
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

/* Map */

.Map__large {
	width: 100%;
	height: 50vh;
}

.Map__small {
	width: 100%;
	height: 300px;
}

.Indicator__user-position {
	width: 15px;
	height: 15px;
	background-color: var(--user-location);
	border-radius: 50%;
	border-width: 3px;
	border-color: var(--user-location-border);
	border-style: solid;
}

.Indicator__promo {
	width: 30px;
	height: 45px;
}

/* Misc */

.Buffer__5px {
	height: 5px;
	width: 5px;
}

.Buffer__10px {
	height: 10px;
	width: 10px;
}

.Buffer__20px {
	height: 20px;
	width: 20px;
}

.Buffer__30px {
	height: 30px;
	width: 30px;
}

.Buffer__50px {
	height: 50px;
	width: 50px;
}

.Buffer__110px {
	height: 110px;
	width: 100px;
}

.Line {
	height: 1px;
	width: 100%;
	background-color: var(--line);
}
